.App {
  display: flex;
  flex-direction: column; /* row: representa uma linha */
  text-align: center;
}

h1 {
  font-weight: 200;
}

.linha {
  display: flex; /* permitir colocar vários elementos dentro de uma linha */
}